:root {
  --ifm-color-primary: #185a9d;
  --ifm-color-primary-dark: #16518d;
  --ifm-color-primary-darker: #144d85;
  --ifm-color-primary-darkest: #113f6d;
  --ifm-color-primary-light: #1a63ad;
  --ifm-color-primary-lighter: #1c67b5;
  --ifm-color-primary-lightest: #2075cd;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #69b7ff;
  --ifm-color-primary-dark: #45a6ff;
  --ifm-color-primary-darker: #33a0ff;
  --ifm-color-primary-darkest: #0088ff;
  --ifm-color-primary-light: #8dc8ff;
  --ifm-color-primary-lighter: #9fceff;
  --ifm-color-primary-lightest: #d5eaff;
}

.hero--primary {
  --ifm-hero-text-color: #fff;
  background: linear-gradient(135deg, #123d66, #185a9d 55%, #19778f);
  color: var(--ifm-hero-text-color);
}
